body{
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
    background:#f2f2f2;
}


  body {
    background: #f56709;
    //background-color: #F8FAFC; 
    color: black;
  }

  .dark {
    background: black;
    color: white;
  }

  /* Button */

  #btn {
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 50%;
    font-size: 30px;
    cursor: pointer;
    transition: 0.5s;
    background: none;
    text-align: center;
    align-items: center;
  }

  header {
    background: #fbf9f9;
    padding: 5px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid #ddd;
  }

  header h2 {
    color: #050505;
    font-weight: BOLD;
    cursor: pointer;
  }

  header h2:hover {
    color: rgb(232, 8, 49);
  }

  nav a {
    margin:20px;
    text-decoration: none;
    color: #333;
    font-size: 14px;
    font-weight:bold;
    cursor: pointer
  }

  nav a:hover {
    color: #f56709;
  }


ol{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:10px;
    margin-top: 100px;
}

ol li{
    list-style: none;
    width:15%;
    background-color: #F0F9FF; 
    box-shadow:0 4px 8px rgba(0,0,0,0.2);
    height:100px;
    padding:15px;
    border-radius: 10px;
    transition: 0.3s;
    text-align: center;
    padding-top: 80px;
    box-shadow: 5px 5px 5px black;
    text-transform: capitalize;
}

ol li:hover{
    background:#ea6b17;
    transform:scale(1.05);
}


ol li a{
    text-decoration:none;
    color:black;
    font-size:18px;
    font-weight:bold;
}

ol li:hover a{
    color:white;
}

h2{
    
}

/* Mobile Responsive */
@media(max-width:768px){
    ol li{
        width:45%;
    }
}

@media(max-width:500px){
    ol li{
        width:100%;
    }
}
