*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


header{
    width:100%;
    background:beige;
    font-size:15px;
    height:100px;
    font-family:arial black;
    margin:auto;
    box-shadow:10px 10px 10px gray;
    padding:10px;
    margin-bottom:10px;
    display:flex;
    margin-top: -10px;
    margin-left:-10px;
    justify-content:space-between;
    padding:5px 10px;
    position:sticky;
    text-align:center;
    cursor:pointer;
    font-weight: bold;
    
}


.picstyle {
    border-radius:30px;
    width:200px;
    display:block;
    margin-left:650px;
    margin-top:150px;
    box-shadow: 5px 5px 5px rgb(8, 8, 8);
}

body {
    background:#2e406b;
}



.logo {
    padding-top: 35px;
    margin-left:10px;
    font-weight:bold;
    cursor:pointer;
}

.lov {
    display:flex;
    
}

.lov a{
    text-decoration: none;
    color:rgb(1, 1, 1);
    font-weight:bold;
    padding-top:30px;
    margin-right:10px;
}




.love {
   background-color: yellow;
   text-align: center;
   text-decoration:none;
   font-size:20px;
   color:rgb(180, 244, 61);
   

}


@media(max-width:768px){
.picture{
    margin-left: -420px;
    margin-top: -80px;
    cursor:pointer;
}

.picstyle{
    width:150px;
    height:200px;
}

header{
    height:71px;
    width:626px;
    font-weight: bold;

}

.logo{
    padding-top: 25px;
}


h1{
    text-align: center;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 35px;
    cursor:pointer;
    text-align: center;
}

span{
    color:yellow;
    margin-top: 30px;
    cursor:pointer;
}

h2{
    text-align: center;
    color:white;
    margin-top: -10px;
    margin-top: 30px;
    cursor:pointer;
}

p{
    text-align: center;
    color:white;
    margin-top: 30px;
    margin-bottom: 30px;
    cursor:pointer;
}

a{
    text-decoration:none;
    display:flex;
    text-align: center;
    justify-content: center;
    color:rgb(7, 7, 7);
    line-height: 30px;
    cursor:pointer;
    font-size: 10px;
    line-height: 27px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

footer{
    background: rgb(241, 197, 144);
    width:616px;
}

a:hover{
    color:red;
 }

 body{
    width:600px;
 }

}

@media(min-width: 1024px){
   
h1{
    text-align: center;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 30px;
    cursor:pointer;
}

span{
    color:yellow;
    margin-top: 30px;
    cursor:pointer;
}

h2{
    text-align: center;
    color:white;
    margin-top: -10px;
    margin-top: 30px;
    cursor:pointer;
}

p{
    text-align: center;
    color:white;
    margin-top: 30px;
    margin-bottom: 30px;
    cursor:pointer;
}

a{
    text-decoration:none;
    display:flex;
    text-align: center;
    justify-content: center;
    color:rgb(7, 0, 0);
    line-height: 30px;
    cursor:pointer;

}

a:hover{
    color:red;
 }


footer{
    background:rgb(241, 197, 144);
    height:132px;
}

.picture{
    margin-top: -90px;
}

header{
    width:1544px;
    height:85px;
}











